.spinner-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MuiBackdrop-root {
    z-index: 1 !important;
}